<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Latihan NodeJS Express MongoDB CRUD</title>
    <script language="javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
</head>
<br>
<br>
<br>
<body class="bg-info">
    <div class="col-md-6 offset-md-3">
        <div class="card">
                <div class="col-md-12" >
                    {{{body}}}
                </div>
            </div>
    </div>   
</body>

</html>